@import './variables'
@import '../node_modules/vuetify/src/stylus/main'

table.table tbody td {
  font-weight: lighter;
}

.datatable td a {
  text-decoration: none;
}

.application--light .toolbar .btn:not(.btn--disabled) {
  color: white;
}

.input-group.input-group--selection-controls.switch .input-group--selection-controls__container .input-group--selection-controls__toggle {
  height: 20px;
  border-radius: 10px;
  opacity: 1;
}

.application--light .input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active:after {
  background-color: $material-theme.background;
}

.card--hover {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card--hover:hover {
  transform: scale(1.05);
  z-index: 1;
}

.list__tile .chip .avatar {
  min-width: initial;
  justify-content: center;
}

.stepper__header {
  border-bottom: solid 1px $material-twelve-percent-dark;
  box-shadow: none;
}

.stepper__items {
  height: calc(100% - 73px); // 73 => 72 (size of the .stepper__header) + 1 (size of the border)
  overflow: scroll;
}

@media $display-breakpoints.lg-and-up {
  .toolbar__side-icon {
    display: none;
  }
}

.dialog > .card > .card__text,
.dialog > .card > .scrollable {
  height: 500px;
  overflow: scroll;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

.selector-card {
  width: 300px!important;
  height: 300px!important;
  margin: 2em;
}

.selector-card > div {
  height: 100%;
}

.selector-card .servicePicture {
  height: 2em;
}

.application--light .pagination__item--active { background-color: $theme.accent; }
.application--light .pagination__item--active:hover,
.application--light .pagination__item--active:active,
.application--light .pagination__item--active:focus { color: white; }

.toolbar__items > .input-group--hide-details > .input-group__details { display: none; }
