@import './variables'
@import '../node_modules/vuetify/src/stylus/main'

table.table tbody td {
  font-weight: lighter;
}

.datatable td a {
  text-decoration: none;
}

.input-group.input-group--selection-controls.switch .input-group--selection-controls__container .input-group--selection-controls__toggle {
  height: 20px;
  border-radius: 10px;
  opacity: 1;
}

.application--light .input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active:after {
  background-color: $material-theme.background;
}
